PORT=4007
ELASTICSEARCH_URL=http://localhost:9200
JWT_SECRET=uajs_smart_campus_dev_secret_change_me
FRONTEND_ORIGIN=http://localhost:5183
USUARIOS_SERVICE_URL=http://localhost:4001
SOLICITUDES_SERVICE_URL=http://localhost:4002
RESERVAS_SERVICE_URL=http://localhost:4003
RECURSOS_SERVICE_URL=http://localhost:4004
EVENTOS_SERVICE_URL=http://localhost:4005
