PORT=4004
DATABASE_URL=postgres://uajs:uajs_dev_pass@localhost:5432/uajs_recursos
JWT_SECRET=uajs_smart_campus_dev_secret_change_me
FRONTEND_ORIGIN=http://localhost:5183
RESERVAS_SERVICE_URL=http://localhost:4003
BUSQUEDA_SERVICE_URL=http://localhost:4007
